sharding:
  clusterRole: shardsvr
replication:
  replSetName: {{ shard_name }}
net:
  bindIpAll: true
  port: {{ shard_port }}
storage:
   dbPath: {{ mongo_data_path }}
   journal:
      enabled: true
systemLog:
   destination: file
   path: {{ mongo_log_path }}
   logAppend: true
security:
   keyFile: {{ private_key_path }}
   authorization: enabled