sharding:
  configDB: {{ shard_id }}/{{ config_members | map(attribute='host') | join(',') }}
net:
  port: {{ shard_port }}
security:
  keyFile: {{ private_key_path }}
systemLog:
   destination: file
   path: {{ system_log_path }}
   logAppend: true